.layout {
  :global {
    .ant-layout-sider-children {
      height: 94vh;
      background-color: rgb(121, 206, 178);
    }
    .ant-layout-header {
      background-color: #fff;
    }
  }
}

.sider {
  .title {
    height: 50px;
    font-size: 40px;
    font-weight: 800;
    color: #000;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  .user {
    float: right;
    font-weight: 700;
    font-size: 24px;
  }
}
