.layout {
  :global {
    .ant-layout-sider-children {
      height: 94vh;
      background-color: rgb(121, 206, 178);
    }
    .ant-layout-header {
      background-color: #fff;
    }
  }
}

.sider {
  .title {
    margin-left: 26px;
    margin-top: 5px;
    height: 50px;
    font-size: 34px;
    font-weight: 800;
    color: #000;
    margin-bottom: 8px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  .user {
    float: right;
    font-weight: 500;
    font-size: 18px;
  }
}
